
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Chela+One&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,500;0,600;0,800;1,400;1,700&display=swap');
 /*font-family: 'Anton', sans-serif;
font-family: 'Chela One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-area{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    align-items: center;

}
nav ul {
    display: flex;
    gap: 90px;
}
nav ul li {
    list-style: none;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    text-decoration: none;
    color: black;
}
.primary-btn{
    background-color: tomato;
    color: azure;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    height: 30px;

}
.hero-area{
    background-image: url(img/banner1.png);
   height: 100vh;
}
.person-area{
    width: 1600px;
    background-color: #d8dbde;
    height: 1400px;
    justify-content: space-between;
    color:#151414;
}
    

      


.text-person{
    display: flex;
}
.person{
    margin-top: 100px;
    

    
}
.text{
    margin-top: 400px;
    font-weight: 700;
    margin-left: 50px;



}
.person-heading{
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;

    font-weight: 700;
    
}
.person-info{
       
color: #444343;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-top: 10px;
}
div ul li {
    list-style: none;
}
.list{
    margin-top: 10px;
    color: #444343;
}
.skil-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  
}
.plan{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.web{
    border: 2px solid white;
    box-shadow: gray;
}
.clock{
   margin: 0 auto;
   
   background-repeat: no-repeat;
}
.footer{
    width: 1600px;
height: 577px;
background-color: #151414;
color: aliceblue;
display:flex ;
justify-content: space-around;
font-family: 'Open Sans', sans-serif;;

}
   
.social{
    margin-top: 50px;

}
.footer-text{
    margin-top: 20px;
}
.left, .right {
    margin-top: 100px;
}
.right{
    display:inline-block;
}
.email{
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    height: 30px;
    margin-bottom: 20px;
}
.Subscribe{
    margin-top: 20px;
}
.img{
    margin-left: 20px;
}
